<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filip.horrornight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".EditProfile" android:parentActivityName="com.filip.horrornight.ShowPlayer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.ShowPlayer"/>
        </activity>
        <activity android:name=".ShowPlayer" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".PlayerScreen"/>
        <activity android:name=".story.Forest" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".story.Run" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".story.GoInside" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".End" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".story.GoOutside" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".story.StayHome" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".Start" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".PlayerInfo" android:parentActivityName="com.filip.horrornight.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.filip.horrornight.MainActivity"/>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>